<% var title = user.fullname; %>
<% include partials/header %>
<% include partials/menu %>
      <div class="hero-unit">
        <h1 class="profile-title">
          D&eacute;couvrez <%= user.fullname %>
        </h1>
        <div class="row">
          <div class="span3 offset1">
            <p>
            </p>
            <p class="user-photo">
              <% if (user.picture) { %>
              <img class="img-polaroid" height="240" src="<%= user.picture %>" width="200">
              <% } else { %>
              <img class="img-polaroid" height="240" src="http://www.epitech.eu/intra/photos/<%= user.login %>.jpg" width="200">
              <% } %>
            </p>
            <p class="user-photo-name">
              <span class="label label-info">
                <%= user.fullname %>
              </span>
            </p>
            <p class="user-photo-promo">
              <span class="label label-info">
                <%= user.promotion %>
              </span>
            </p>
            <div id="social"><h4>
              Contact:
            </h4>
            <p>
              <i class="icon-large icon-home myicon"></i> <%= user.city %>
            </p>
            <% if (user.social.portfolio) { %><p>
              <a href="<%= user.social.portfolio %>"><i class="icon-large icon-suitcase myicon"></i> Portfolio</a>
            </p><% } %>
            <% if (user.social.email) { %><p>
              <a href="mailto:<%= user.social.email %>"><i class="icon-large icon-envelope myicon"></i> E-mail</a>
            </p><% } else { %><p>
            <a href="mailto:<%= user.social.email %>"><i class="icon-large icon-envelope myicon"></i> E-mail</a>
            </p><% } %>
            <% if (user.social.github) { %><p>
              <a href="http://github.com/<%= user.social.github %>/"><i class="icon-large icon-github myicon"></i> <%= user.social.github %></a>
            </p><% } %>
            <% if (user.social.twitter) { %><p>
              <a href="http://twitter.com/<%= user.social.twitter %>/"><i class="icon-large icon-twitter myicon"></i> <%= user.social.twitter %></a>
            </p><% } %>
            <% if (user.social.facebook) { %><p>
              <a href="http://www.facebook.com/<%= user.social.facebook %>"><i class="icon-large icon-facebook myicon"></i> Profil Facebook</a>
            </p><% } %>
            <% if (user.social.gplus) { %><p>
              <a href="<%= user.social.gplus %>"><i class="icon-large icon-google-plus myicon"></i> Profil Google+</a>
            </p><% } %>
            <% if (user.social.linkedin) { %><p>
              <a href="<%= user.social.linkedin %>"><i class="icon-large icon-linkedin myicon"></i> Profil LinkedIn</a>
            </p><% } %>
            <% if (user.social.viadeo) { %><p>
              <a href="<%= user.social.viadeo %>">Profil Viadeo</a>
            </p><% } %>
            </div>
          </div>
          <div class="span6">
              <h3>Job actuel / précédent:</h3>
              <% if (user.description && user.description.lastjob) { %>
                <p><%= user.description.lastjob %></p>
              <% } else { %>
                <p>(Non renseigné)</p>
              <% } %>
              <h3>&Agrave; propos:</h3>
              <% if (user.description && user.description.about) { %>
                <p><%= user.description.about %></p>
              <% } else { %>
                <p>(Non renseigné)</p>
              <% } %>
              <h3>Technologies:</h3>
              <% if (user.description && user.description.favorites) { %>
                <p>
                  <% for (var i = 0; i < user.description.favorites.length; ++i) { %>
                  <span class="label label-info"><i class="icon-tag"></i> <%= user.description.favorites[i] %></span>
                  <% } %></p>
              <% } else { %>
                <p>(Non renseigné)</p>
              <% } %>
              <% if (user.description && user.description.projects) { %>
                <h3>Projecs:</h3>
                <% var projects = user.description.projects.split(','); %>
                <% for (var i = 0; i < projects.length; ++i) { %>
                  <% var proj = projects[i].split('|'); %>
                  <% if (proj[1]) { %><a href="<%= proj[1] %>"><% } %>
                    <%= proj[0] %>
                  <% if (proj[1]) { %></a><% } %>
                  <% if (projects[i + 1]) { %>
                  <strong>//</strong>
                  <% } %>
                <% } %>
              <% } %>
            <h3>Étudiants liés:</h3>
            <p>(&Agrave; venir...)</p>
          </div>
        </div>
      </div>
<% include partials/footer %>
