<% var title = user.fullname; %>
<% include partials/header %>
<% include partials/menu %>
    <div class="container">
      <div class="hero-unit">
        <h1>
          Why not hire <%= user.fullname %>?
        </h1>
        <div class="row">
          <div class="span3 offset1">
            <p>
            </p>
            <p class="user-photo">
              <img class="img-polaroid" height="240" src="http://www.epitech.eu/intra/photos/<%= user.login %>.jpg"
              width="200">
            </p>
            <p class="user-photo-name">
              <span class="label label-info">
                <%= user.fullname %>
              </span>
            </p>
            <p class="user-photo-promo">
              <span class="label label-info">
                <%= user.promotion %>
              </span>
            </p>
            <div id="social"><h4>
              About me:
            </h4>
            <% if (user.social.portfolio) { %><p>
              <a href="<%= user.social.portfolio %>"><i class="icon-large icon-suitcase myicon"></i>Portfolio</a>
            </p><% } %>
            <% if (user.social.email) { %><p>
              <a href="mailto:<%= user.social.email %>"><i class="icon-large icon-envelope myicon"></i> Contact me</a>
            </p><% } else { %><p>
            <a href="mailto:<%= user.social.email %>"><i class="icon-large icon-envelope myicon"></i> Contact me</a>
            </p><% } %>
            <% if (user.social.github) { %><p>
              <a href="http://twitter.com/<%= user.social.github %>/"><i class="icon-large icon-github myicon"></i> <%= user.social.github %></a>
            </p><% } %>
            <% if (user.social.twitter) { %><p>
              <a href="http://twitter.com/<%= user.social.twitter %>/"><i class="icon-large icon-twitter myicon"></i> <%= user.social.twitter %></a>
            </p><% } %>
            <% if (user.social.gplus) { %><p>
              <a href="<%= user.social.gplus %>"><i class="icon-large icon-google-plus myicon"></i> Google+ profile</a>
            </p><% } %>
            <% if (user.social.linkedin) { %><p>
              <a href="<%= user.social.linkedin %>"><i class="icon-large icon-linkedin myicon"></i> LinkedIn profile</a>
            </p><% } %>
            <% if (user.social.viadeo) { %><p>
              <a href="<%= user.social.viadeo %>">Viadeo profile</a>
            </p><% } %>
            </div>
          </div>
          <div class="span6">
            <% if (user.description) { %>
              <% if (user.description.lastjob) { %>
                <h3>Current/last job:</h3>
                <p><%= user.description.lastjob %></p>
              <% }%>
              <% if (user.description.favorites) { %>
                <h3>Favorite technologies:</h3>
                <p>
                  <% for (var i = 0; i < user.description.favorites.length; ++i) { %>
                  <span class="label label-info"><%= user.description.favorites[i] %></span>
                <% } %></p>
              <% } %>
            <h3>Description:</h3>
            <p>%USER_DESCRIPTION%</p>
            <h3>Related slaves:</h3>
            <p>(Coming soon...)</p>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
